<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}

    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}

    <!-- Liên kết đến LinkedIn -->
    <li><a href="https://www.linkedin.com/in/ltnhotin/" rel="nofollow noopener noreferrer"><i class="fab fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
  </ul>
</div>

<!-- Thêm số điện thoại và tên của bạn -->
<div class="page__footer-contact">
  <ul class="contact-info">
    <li class="contact-info__item"><strong>Nho Tín</strong></li>
    <li class="contact-info__item contact-info__item--phone">
      <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
      <a href="tel:0963620379" class="phone-link">0963 620 379</a>
    </li>
  </ul>
</div>
