.bg-gradient-to-r {
  background-image: linear-gradient(to right, #ebf8ff, #ede9fe);
}

.drawer-side {
  display: none;
}

.drawer-side.lg\\:block {
  display: block;
}

.menu {
  background-color: #f8fafc;
  padding: 16px;
  border-radius: 16px;
  margin-top: 12px;
  overflow-y: auto;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu .label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.menu .label-text {
  font-weight: 500;
}

.menu .radio {
  margin-left: 8px;
}

.chat-bubble {
  background-color: #e0f2fe;
  padding: 16px;
  border-radius: 16px;
  margin-top: 12px;
}

.chat-bubble-info {
  background-color: #c7d2fe;
}

.chat-image.avatar img {
  transform: scale(1.5);
}

input[type="text"] {
  padding: 12px;
  border: 2px solid #cbd5e1;
  border-radius: 16px;
  width: calc(100% - 40px);
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  background: linear-gradient(to top left, transparent, #3b82f6, #6366f1);
  border-radius: 50%;
  cursor: pointer;
  color: white;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #a5b4fc;
}

#chat-area {
  background-color: white;
  padding: 16px;
  border-radius: 24px;
  overflow-y: auto;
  max-height: 80%;
}

.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thumb-gray-300 {
  scrollbar-color: #d1d5db #f3f4f6;
}

.scrollbar-thumb-rounded-full {
  border-radius: 9999px;
}

.scrollbar-track-rounded-full {
  border-radius: 9999px;
}
